
      .Mainskills {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* justify-content: center;
        align-items: center; */
        margin: 40px 0;
      }
      .Mainskills section {
        width: 40%;
        min-width: 450px;
        height: 335px;
        left: 0px;
        top: 0px;
        background: #2a2a2b;
        border-radius: 30px;
        margin: 30px;
      }
      .Mainskills section > header {
        display: flex;
      }
      /* .skillhead > :first-child {
      } */
      .skillicon {
        width: 142px;
        height: 133px;
        margin: 30px;
      }
      .skillhead > :last-child h2 {
        color: white;
        font-size: 46px;
        font-family: Versa;
        font-weight: 400;
        word-wrap: break-word;
        margin: 30px 0;
      }
      .skillhead > :last-child p {
        color: white;
        font-size: 25px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word;
      }
      .aboutskills {
        /* width: 517px;
        height: 92px; */
        color: white;
        font-size: 16px;
        font-family: Inter;
        font-weight: 400;
        line-height: 23px;
        word-wrap: break-word;
        margin: 0 30px;
      }
      .fa-star {
        margin: 0 3px;
      }