
      :root{
        --light-border-color:black;
        --dark-border-color:white;

      }
      .Mainskills {
        width: 100%;
        display: flex;
       align-items: center;
       flex-direction: column;
       margin-bottom: 100px;
      }
      .skillheading{
        width: 85%;
        /* font-family: heading3; */
        font:  normal normal normal 48px / 1.3em madefor-display-bold, helveticaneuew01-65medi, helveticaneuew02-65medi, helveticaneuew10-65medi, sans-serif;;
        font-size: 48px;
        letter-spacing: 2.5px;
        margin:0 0 60px  0;
        font-weight: 600;
      }
      .Mainskills article{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 300px;
        width: 85%;
        padding-bottom: 80px;
        margin-bottom: 40px;
        border-bottom: 1px solid white;
      }
      .luckynumber{
        position: absolute;
        right: 0;
        bottom: 0;
        font: normal normal bold 30px / 1.6em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif ;
      }
      .Mainskills article> div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
      }
      .Mainskills article> div img{
        width: 138px;
        height: 138px;
      }
      .Mainskills article> div h2{
        font: normal normal bold 34px / 1.6em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
        letter-spacing: 1px;
      }
      .Mainskills > div{
        position: relative;
        width: 85%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 150px;
        border-bottom: 1px solid white;
        /* background: url(./FrameDark.png); */
        background-size: 100% 90%;
        background-repeat: no-repeat;
      }
      .Mainskills section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(50% - 4px);
        /* min-width: 450px; */
        height: 400px;
        border: 2px solid var(--dark-border-color);
      }
      .Mainskills section > header {
        display: flex;
      }
      .skillicon {
        display: none;
        width: 142px;
        height: 133px;
        margin: 30px;
      }
      .skillhead > :last-child h2 {
        font-size: 46px;
        font-family: Versa;
        font-weight: 400;
        word-wrap: break-word;
        margin:0 50px 30px;
      }
      /* .skillhead > :last-child p {
        color: white;
        font-size: 25px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word;
      } */
       .Mainskills section> p{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        word-wrap: break-word;
        margin: 30px 0 0 50px;
       }
      .aboutskills {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        line-height: 23px;
        /* word-wrap: break-word; */
        margin: 0 50px;
      }
      .lastpartskill{
        background: url(./Evolution-of-Coding-scaled.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        filter: grayscale(.3);
      }
      .fa-star {
        margin: 0 3px;
      }
      @media screen and (max-width:800px) {
        .Mainskills section {
          min-width: 0;
        width: 95%;
        height: 450px;
        border-radius: 5px;
        }
        .Mainskills section > header {
          display: flex;
          flex-direction: column;
        }
        .skillicon {
          width: 142px;
          height: 133px;
          margin: 0;
        }
        .Mainskills section > header > :nth-child(1) {

          display: flex;
          justify-content: center;
          margin: 10px 0;
        }
        .Mainskills section > header > :nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

      }
      /* .skillhead > :last-child h2 {
        margin: 0;
    } */
    .aboutskills {
      margin: 0 30px;
    }
    .Mainskills section > p{
      margin: 30px  30px;
    }
  }