
      .Mainskills {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* justify-content: center;
        align-items: center; */
        /* margin: 40px 0; */
        padding-bottom: 70px;
      }
      .Mainskills section {
        width: 40%;
        min-width: 450px;
        height: 335px;
        left: 0px;
        top: 0px;
        background: #2a2a2b;
        border-radius: 30px;
        margin: 30px;
      }
      .Mainskills section > header {
        display: flex;
      }
      /* .skillhead > :first-child {
      } */
      .skillicon {
        width: 142px;
        height: 133px;
        margin: 30px;
      }
      .skillhead > :last-child h2 {
        color: white;
        font-size: 46px;
        font-family: Versa;
        font-weight: 400;
        word-wrap: break-word;
        margin: 30px 0;
      }
      .skillhead > :last-child p {
        color: white;
        font-size: 25px;
        font-family: Inter;
        font-weight: 800;
        word-wrap: break-word;
      }
      .aboutskills {
        /* width: 517px;
        height: 92px; */
        color: white;
        font-size: 16px;
        font-family: Inter;
        font-weight: 400;
        line-height: 23px;
        word-wrap: break-word;
        margin: 0 30px;
      }
      .fa-star {
        margin: 0 3px;
      }
      @media screen and (max-width:800px) {
        .Mainskills section {
          min-width: 0;
        width: 95%;
        height: 450px;
        border-radius: 5px;
        }
        .Mainskills section > header {
          display: flex;
          flex-direction: column;
        }
        .skillicon {
          width: 142px;
          height: 133px;
          margin: 0;
        }
        .Mainskills section > header > :nth-child(1) {

          display: flex;
          justify-content: center;
          margin: 10px 0;
        }
        .Mainskills section > header > :nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

      }
      .skillhead > :last-child h2 {
        margin: 0;
    }
    .skillhead > :last-child p {
      margin: 15px 0;
    }
    .aboutskills {
      margin: 0 15px;
    }
  }