@font-face {
  font-family: versa-versa;
  src: url(../public/fonts/Versa-Versa.otf) format('opentype'); ;
}
@font-face {
  font-family: Poppins-Thin;
  src: url(../public/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../public/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: boldfont;
    src: url(../public/fonts/Bluffolk.otf)
}
@font-face {
    font-family: Danson;
    src: url(../public/fonts/DansonBold-ovB2o.ttf);
}