@font-face {
  font-family: versa-versa;
  src: url(../public/fonts/Versa-Versa.otf) format('opentype'); ;
}
@font-face {
  font-family: Poppins-Thin;
  src: url(../public/fonts/Poppins-Thin.ttf) format('opentype');
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../public/fonts/Poppins-Regular.ttf) format('opentype');
}
@font-face {
    font-family: boldfont;
    src: url(../public/fonts/Bluffolk.otf) format('opentype');
}
@font-face {
  font-family: MonoItalic;
  src: url(../public/fonts/RobotoMono-Italic.ttf);
}
@font-face {
  font-family: interHead;
  src: url(../public/fonts/InterHead.ttf);
}