.contactsection {
  max-width: 1050px;
  margin: 10px auto 140px auto;
  padding: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.tittlecontact {
  position: relative;
  flex: 1;
  min-width: 280px;
  margin-top: 75px;
  height: auto;
   font-family: Poppins-Regular;
}
.tittlecontact p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.tittlecontact ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
}
.tittlecontact ul li {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 0.95rem;
  margin-bottom: 10px;
}

.tittlecontact ul i {
  color: #5a67d8;
  font-size: 1.2rem;
}
.contactiocn {
  display: flex;
  justify-content: start;
  margin-top: 1.5rem;
}
.contactiocn a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
}
.contactiocn span {
  width: 50px;
  height: 50px;
  margin-right: 35px;
  background-color: rgba(25, 118, 210, 1);
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.Earth3D-dark {
  position: absolute;
  top: -200px;
  z-index: 1;
  width: 850px;
  height: 850px;
  transform: translateX(-50%);
  /* background-color: blueviolet; */
}
.Earth3D-light {
  display: none;
}
.maincontactpart {
  flex: 1;
  min-width: 320px;
}
.contacttittle {
  margin: 10px 0;
  margin-bottom: 30px;
     font-family: interHead;
}
.contactinput {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.Forname,
.Fornumber_email {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.Forname :last-child,
.Fornumber_email :last-child {
  margin-left: 25px;
}
.Forname input,
.Fornumber_email input {
  width: 50%;
  /* border-radius: 12px; */
  letter-spacing: 0.6px;
  height: 50px;
  padding: 25px;
  border: 0;
  background-color: rgba(225, 225, 225, 0.16);
  font-weight: bold;
  border: 1px solid white;
  /* margin: 10px 15px; */
}
.Forname ::placeholder,
.Fornumber_email ::placeholder {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.messagearea {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.messagearea textarea {
  width: 100%;
  /* border-radius: 12px; */
  border: 1px solid white;
  height: 200px;
  background-color: rgba(225, 225, 225, 0.16);
  outline: none;
  padding: 25px;
  font-size: 16px;
  letter-spacing: 0.6px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  resize: none;
}
.maincontactpart textarea:focus {
  border: 0;
}

.contactsubmit {
  width: 100%;
  display: flex;
  justify-content: end;
}
.contactsubmit button {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 0;
  width: 100%;
  /* border-radius: 12px; */
  margin-top: 20px;
  cursor: pointer;
}
.followcontact {
  margin-left: 50px;
}
.followcontact h2 {
  margin: 0;
  margin-bottom: 18px;
}
.followcontact a {
  color: white;
  text-decoration: none;
}
/* Animation for the spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 800px) {
  .Earth3D {
    position: absolute;
  }
  .contactinput {
    width: 100%;
    padding-right: 0px;
    margin-top: 40px;
    margin-left: 0px;
    align-items: center;
  }
  .messagearea textarea {
    width: 100%;
  }
  .Forname :last-child,
  .Fornumber_email :last-child {
    margin-left: 0px;
  }
  .Forname input,
  .Fornumber_email input {
    width: 100%;
    /* padding: 0 25px 0 25px; */
  }
  .Forname,
  .Fornumber_email {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contactsubmit {
    justify-content: center;
  }
}
